body {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #EFEFEA;
}

header {
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-logo img {
    height: 80px;
}

.nav-title {
    flex: 1;
    text-align: center;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40px;
    color: #E6953C;
    margin-right: 80px;
}

/* BOTÕES DE SELEÇÃO */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 0 30px;
}

.toggle-button {
    background-color: transparent;
    color: #800020;
    padding: 15px 30px;
    border: 2px solid #800020;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.toggle-button.active {
    background-color: #800020;
    color: #E6953C;
    border-color: #800020;
}

.toggle-button:hover {
    opacity: 0.9;
}

/* CONTEÚDO DAS SEÇÕES */
.section {
    display: none;
}

.section.active {
    display: block;
}

.section-content {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logoff-container {
    margin: 50px 0;
    text-align: center;
}

.logoff-button {
    background-color: #800020;
    color: #E6953C;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoff-button:hover {
    background-color: #b6002d;
}